In [1]:
import pandas as pd
import numpy as np
import re
import csv
import os
# import nltk
from numpy import triu
# nltk.download('words')
# from nltk.corpus import words
from numpy import dot
from numpy.linalg import norm
from gensim.models import Word2Vec
from gensim.models.phrases import Phraser, Phrases

In [2]:
data = pd.read_csv('new_data.csv',on_bad_lines='skip')
data

,Salts,Medicine_Name
0,amitriptyline 25 mg,amilift 25 sr tablet 10s
1,Amitriptyline(25.0 Mg),amilift sr 25mg tablets
2,Amitriptyline + Chlordiazepoxide,amilift dx tablets
3,Amitriptyline (12.5mg) + Chlordiazepoxide (5mg),amilift dx 12.5 mg 5 mg tablet
4,Amitriptyline(10.0 Mg),amilift 10mg tablets
...,...,...
517008,Cefuroxime (500mg),zeoroxim 500mg tablet
517009,Cefuroxime (500mg) + Clavulanic Acid (125mg),zeoroxim cv 500mg 125mg tablet
517010,Telmisartan (40mg),zicard 40mg tablet
517011,Deflazacort (6mg),zofla 6mg tablet
517012,Ambroxol (15mg/5ml) + Guaifenesin (50mg/5ml) +...,zifo at syrup

In [3]:
# filtered_data = data[data['Salts'].str.contains('Paracetamol', case=False, na=False)]
filtered_data = data.iloc[:,:]

In [4]:
filtered_data

,Salts,Medicine_Name
0,amitriptyline 25 mg,amilift 25 sr tablet 10s
1,Amitriptyline(25.0 Mg),amilift sr 25mg tablets
2,Amitriptyline + Chlordiazepoxide,amilift dx tablets
3,Amitriptyline (12.5mg) + Chlordiazepoxide (5mg),amilift dx 12.5 mg 5 mg tablet
4,Amitriptyline(10.0 Mg),amilift 10mg tablets
...,...,...
517008,Cefuroxime (500mg),zeoroxim 500mg tablet
517009,Cefuroxime (500mg) + Clavulanic Acid (125mg),zeoroxim cv 500mg 125mg tablet
517010,Telmisartan (40mg),zicard 40mg tablet
517011,Deflazacort (6mg),zofla 6mg tablet
517012,Ambroxol (15mg/5ml) + Guaifenesin (50mg/5ml) +...,zifo at syrup

In [5]:
filtered_data['Salts'] = filtered_data['Salts'].str.replace('('," ").str.replace(")","").str.replace("-"," ").str.replace("mg"," mg").str.replace("%"," %").str.replace(","," + ")

In [6]:
filtered_data['Salts'] = filtered_data['Salts'].str.lower()

In [7]:
def convert_integer_to_float(value):
    try:
        # Use regex to find the numeric part
        match = re.search(r"(\d+(\.\d+)?)", value)
        if match:
            numeric_part = match.group()
            # Check if the numeric part is an integer
            if numeric_part.isdigit():
                numeric_part = float(numeric_part)
                # Replace the integer part with its float representation
                value = re.sub(r"\d+", str(numeric_part), value, 1)
        return value
    except:
        return value

In [8]:
filtered_data['Salts']= filtered_data['Salts'].str.replace(r'^\s+|\s+$', '', regex=True).apply(convert_integer_to_float)

In [9]:
from tqdm.auto import tqdm
tqdm.pandas()
filtered_data['Salts'] = filtered_data['Salts'].str.strip().str.replace('mcg',' mcg').str.replace("mg"," mg").str.replace("ml","  ml").str.replace("w/w","").str.replace("   "," ").str.replace("  "," ").str.replace('% ','%')

In [10]:
filtered_data

,Salts,Medicine_Name
0,amitriptyline 25.0 mg,amilift 25 sr tablet 10s
1,amitriptyline 25.0 mg,amilift sr 25mg tablets
2,amitriptyline + chlordiazepoxide,amilift dx tablets
3,amitriptyline 12.5 mg + chlordiazepoxide 5 mg,amilift dx 12.5 mg 5 mg tablet
4,amitriptyline 10.0 mg,amilift 10mg tablets
...,...,...
517008,cefuroxime 500.0 mg,zeoroxim 500mg tablet
517009,cefuroxime 500.0 mg + clavulanic acid 125 mg,zeoroxim cv 500mg 125mg tablet
517010,telmisartan 40.0 mg,zicard 40mg tablet
517011,deflazacort 6.0 mg,zofla 6mg tablet
517012,ambroxol 15.0 mg/5 ml + guaifenesin 50 mg/5 ml...,zifo at syrup

In [11]:
new_df = filtered_data.drop_duplicates(subset='Salts')
new_df = new_df.reset_index(drop=True)

In [12]:
from langchain_ollama import OllamaEmbeddings

embeddings = OllamaEmbeddings(model="phi3")

In [ ]:
# Function to embed each row
def get_embeddings(text):
    return embeddings.embed_query(text)

# Apply the function to each row in the 'salts' column
new_df['Embeddings'] = new_df['Salts'].apply(get_embeddings)

In [ ]:
len(new_df["Embeddings"][0])

3072

In [ ]:
# Convert df_train['Embeddings'] Pandas series to a np.array of float32
X = np.array(new_df['Embeddings'].to_list(), dtype=np.float32)
X.shape

(1807, 3072)

In [ ]:
import umap.umap_ as umap
reducer = umap.UMAP(
    n_components=3,
    n_neighbors=15,
    n_epochs=200,
    min_dist=0.1,
    local_connectivity=1,
    spread= 1.0
)
embedding = reducer.fit_transform(np.array(X))

In [ ]:
# from sklearn.manifold import TSNE
# model = TSNE(n_components=3, perplexity=1400.0,
#           early_exaggeration=10.0,
#             learning_rate='auto',
#               n_iter_without_progress=100,
#                 min_grad_norm=1e-07,
#                   metric='euclidean',
#                   metric_params=None, init='pca', verbose=0, random_state=None, method='exact', angle=0.5, n_jobs=None)
# embedding = model.fit_transform(np.array(X))

In [ ]:
embedding.shape

(1807, 3)

In [ ]:
final_list = list(zip(new_df['Medicine_Name'],new_df['Salts'],embedding))

In [ ]:
final_dataframe = pd.DataFrame(final_list,columns = ['Medicine_Name','Salts','vector'])

In [ ]:
final_dataframe

,Medicine_Name,Salts,vector
0,amilift 25 sr tablet 10s,amitriptyline 25.0 mg,"[7.6449814, 8.778024, 6.6443825]"
1,amilift dx tablets,amitriptyline + chlordiazepoxide,"[9.494292, 8.044148, 8.555421]"
2,amilift dx 12.5 mg 5 mg tablet,amitriptyline 12.5 mg + chlordiazepoxide 5 mg,"[5.133318, 9.246333, 7.1401486]"
3,amilift 10mg tablets,amitriptyline 10.0 mg,"[7.634665, 8.79363, 6.6378107]"
4,azibeta 500mg tablet,azithromycin 500.0 mg,"[6.5614185, 8.831736, 6.624531]"
...,...,...,...
1802,afdimoxin dt tablet 10s,amoxycillin 125.0 mg + lactobacillus 60 millio...,"[5.7385435, 7.6889534, 7.8825893]"
1803,afdimoxin tablet dt,amoxycillin 125.0 mg + lactobacillus 60million...,"[5.7229156, 7.691019, 7.8813543]"
1804,aanav-mox 625 lb tablet 10's,amoxycillin 500.0 mg + clavulanic acid 125 mg ...,"[5.757681, 7.6723814, 7.9111333]"
1805,azemo 1 eye drop,azithromycin 1.0 %w/v,"[7.904517, 6.6656575, 8.122447]"
1806,azemo tablet,azithromycin na,"[8.540523, 8.364653, 8.205883]"

In [ ]:
## implementing the quasi random sampling to select some anchor points.
total_samples = len(final_dataframe)
sample_size = len(final_dataframe)/3
period  = int(total_samples/sample_size)

In [ ]:
Vectors = final_dataframe['vector'].values

In [ ]:
anchors = []
anchor_indexes=[]
for i in range(0,len(final_dataframe)+1,period):
    try:
        anchors.append(final_dataframe['Medicine_Name'][i])
        anchor_indexes.append(i)
    except:
        pass
from numpy import dot
from numpy.linalg import norm

# cos_sim = dot(a, b)/(norm(a)*norm(b))
anchor_euc_scores = {}
for i in range(0, len(anchor_indexes)):
    print(str(i) + " done!")
    current_index = anchor_indexes[i]
    current_point = Vectors[current_index]
    euc_sim_scores = []
    for j in range(0, len(final_dataframe)):
        
        other_point = Vectors[j]

        # Check for zero norms
        norm_current = norm(current_point)
        norm_other = norm(other_point)

        if norm_current == 0 or norm_other == 0:
            euc_sim = 0  # or any other value you choose
        else:
            euc_sim = 1 / (1 + np.linalg.norm(norm_current - norm_other))

        euc_sim_scores.append([j, euc_sim * 100000])

    euc_sim_scores = sorted(euc_sim_scores , key=lambda k: [k[1], k[0]], reverse=True)
    anchor_euc_scores[anchor_indexes[i]] = euc_sim_scores[0:500]

0 done!
1 done!
2 done!
3 done!
4 done!
5 done!
6 done!
7 done!
8 done!
9 done!
10 done!
11 done!
12 done!
13 done!
14 done!
15 done!
16 done!
17 done!
18 done!
19 done!
20 done!
21 done!
22 done!
23 done!
24 done!
25 done!
26 done!
27 done!
28 done!
29 done!
30 done!
31 done!
32 done!
33 done!
34 done!
35 done!
36 done!
37 done!
38 done!
39 done!
40 done!
41 done!
42 done!
43 done!
44 done!
45 done!
46 done!
47 done!
48 done!
49 done!
50 done!
51 done!
52 done!
53 done!
54 done!
55 done!
56 done!
57 done!
58 done!
59 done!
60 done!
61 done!
62 done!
63 done!
64 done!
65 done!
66 done!
67 done!
68 done!
69 done!
70 done!
71 done!
72 done!
73 done!
74 done!
75 done!
76 done!
77 done!
78 done!
79 done!
80 done!
81 done!
82 done!
83 done!
84 done!
85 done!
86 done!
87 done!
88 done!
89 done!
90 done!
91 done!
92 done!
93 done!
94 done!
95 done!
96 done!
97 done!
98 done!
99 done!
100 done!
101 done!
102 done!
103 done!
104 done!
105 done!
106 done!
107 done!
108 done!
109 done!
110 done!
111 done!
112 done!
113 done!
114 done!
115 done!
116 done!
117 done!
118 done!
119 done!
120 done!
121 done!
122 done!
123 done!
124 done!
125 done!
126 done!
127 done!
128 done!
129 done!
130 done!
131 done!
132 done!
133 done!
134 done!
135 done!
136 done!
137 done!
138 done!
139 done!
140 done!
141 done!
142 done!
143 done!
144 done!
145 done!
146 done!
147 done!
148 done!
149 done!
150 done!
151 done!
152 done!
153 done!
154 done!
155 done!
156 done!
157 done!
158 done!
159 done!
160 done!
161 done!
162 done!
163 done!
164 done!
165 done!
166 done!
167 done!
168 done!
169 done!
170 done!
171 done!
172 done!
173 done!
174 done!
175 done!
176 done!
177 done!
178 done!
179 done!
180 done!
181 done!
182 done!
183 done!
184 done!
185 done!
186 done!
187 done!
188 done!
189 done!
190 done!
191 done!
192 done!
193 done!
194 done!
195 done!
196 done!
197 done!
198 done!
199 done!
200 done!
201 done!
202 done!
203 done!
204 done!
205 done!
206 done!
207 done!
208 done!
209 done!
210 done!
211 done!
212 done!
213 done!
214 done!
215 done!
216 done!
217 done!
218 done!
219 done!
220 done!
221 done!
222 done!
223 done!
224 done!
225 done!
226 done!
227 done!
228 done!
229 done!
230 done!
231 done!
232 done!
233 done!
234 done!
235 done!
236 done!
237 done!
238 done!
239 done!
240 done!
241 done!
242 done!
243 done!
244 done!
245 done!
246 done!
247 done!
248 done!
249 done!
250 done!
251 done!
252 done!
253 done!
254 done!
255 done!
256 done!
257 done!
258 done!
259 done!
260 done!
261 done!
262 done!
263 done!
264 done!
265 done!
266 done!
267 done!
268 done!
269 done!
270 done!
271 done!
272 done!
273 done!
274 done!
275 done!
276 done!
277 done!
278 done!
279 done!
280 done!
281 done!
282 done!
283 done!
284 done!
285 done!
286 done!
287 done!
288 done!
289 done!
290 done!
291 done!
292 done!
293 done!
294 done!
295 done!
296 done!
297 done!
298 done!
299 done!
300 done!
301 done!
302 done!
303 done!
304 done!
305 done!
306 done!
307 done!
308 done!
309 done!
310 done!
311 done!
312 done!
313 done!
314 done!
315 done!
316 done!
317 done!
318 done!
319 done!
320 done!
321 done!
322 done!
323 done!
324 done!
325 done!
326 done!
327 done!
328 done!
329 done!
330 done!
331 done!
332 done!
333 done!
334 done!
335 done!
336 done!
337 done!
338 done!
339 done!
340 done!
341 done!
342 done!
343 done!
344 done!
345 done!
346 done!
347 done!
348 done!
349 done!
350 done!
351 done!
352 done!
353 done!
354 done!
355 done!
356 done!
357 done!
358 done!
359 done!
360 done!
361 done!
362 done!
363 done!
364 done!
365 done!
366 done!
367 done!
368 done!
369 done!
370 done!
371 done!
372 done!
373 done!
374 done!
375 done!
376 done!
377 done!
378 done!
379 done!
380 done!
381 done!
382 done!
383 done!
384 done!
385 done!
386 done!
387 done!
388 done!
389 done!
390 done!
391 done!
392 done!
393 done!
394 done!
395 done!
396 done!
397 done!
398 done!
399 done!
400 done!
401 done!
402 done!
403 done!
404 done!
405 done!
406 done!
407 done!
408 done!
409 done!
410 done!
411 done!
412 done!
413 done!
414 done!
415 done!
416 done!
417 done!
418 done!
419 done!
420 done!
421 done!
422 done!
423 done!
424 done!
425 done!
426 done!
427 done!
428 done!
429 done!
430 done!
431 done!
432 done!
433 done!
434 done!
435 done!
436 done!
437 done!
438 done!
439 done!
440 done!
441 done!
442 done!
443 done!
444 done!
445 done!
446 done!
447 done!
448 done!
449 done!
450 done!
451 done!
452 done!
453 done!
454 done!
455 done!
456 done!
457 done!
458 done!
459 done!
460 done!
461 done!
462 done!
463 done!
464 done!
465 done!
466 done!
467 done!
468 done!
469 done!
470 done!
471 done!
472 done!
473 done!
474 done!
475 done!
476 done!
477 done!
478 done!
479 done!
480 done!
481 done!
482 done!
483 done!
484 done!
485 done!
486 done!
487 done!
488 done!
489 done!
490 done!
491 done!
492 done!
493 done!
494 done!
495 done!
496 done!
497 done!
498 done!
499 done!
500 done!
501 done!
502 done!
503 done!
504 done!
505 done!
506 done!
507 done!
508 done!
509 done!
510 done!
511 done!
512 done!
513 done!
514 done!
515 done!
516 done!
517 done!
518 done!
519 done!
520 done!
521 done!
522 done!
523 done!
524 done!
525 done!
526 done!
527 done!
528 done!
529 done!
530 done!
531 done!
532 done!
533 done!
534 done!
535 done!
536 done!
537 done!
538 done!
539 done!
540 done!
541 done!
542 done!
543 done!
544 done!
545 done!
546 done!
547 done!
548 done!
549 done!
550 done!
551 done!
552 done!
553 done!
554 done!
555 done!
556 done!
557 done!
558 done!
559 done!
560 done!
561 done!
562 done!
563 done!
564 done!
565 done!
566 done!
567 done!
568 done!
569 done!
570 done!
571 done!
572 done!
573 done!
574 done!
575 done!
576 done!
577 done!
578 done!
579 done!
580 done!
581 done!
582 done!
583 done!
584 done!
585 done!
586 done!
587 done!
588 done!
589 done!
590 done!
591 done!
592 done!
593 done!
594 done!
595 done!
596 done!
597 done!
598 done!
599 done!
600 done!
601 done!
602 done!

In [ ]:
with open(r'C:\Users\ayush\OneDrive\Documents\polyglot\PolyGlot\data\phi\meta-main.txt', 'w') as the_file:
    the_file.write('0\n')
    for i in range(0, len(anchors)):
        the_file.write(str(anchor_indexes[i]) + ' ' + anchors[i] + '\n')

with open(r'C:\Users\ayush\OneDrive\Documents\polyglot\PolyGlot\data\phi\full_data', 'w',encoding="utf-8") as the_file:
    for i in range(0, len(new_df['Medicine_Name'])):
        word = new_df['Medicine_Name'][i]
        if word in anchors:
            is_anchor = 1
        else:
            is_anchor = 0
        if word == 'Synonym'or word == 'Vitamin D3':
            pass
        else:
            
            the_file.write(word +' ----> '+new_df['Salts'][i] +'\n')
            try:
              the_file.write(str(Vectors[i][0]) + ' ' + str(Vectors[i][1]) + ' ' + str(Vectors[i][2]) + ' ' + str(is_anchor) + ' \n')
            except:
              the_file.write(str(Vectors[i]) +' ' + str(is_anchor) + ' \n')

folder_path  = r"C:\Users\ayush\OneDrive\Documents\polyglot\PolyGlot\data\phi"
for anchor_index in anchor_indexes:
    filename = os.path.join(folder_path, str(anchor_index) + '.txt')
    with open(filename, 'w') as the_file:
        for score in anchor_euc_scores[anchor_index]:
            # note that score is of the form: [index, cosine]
            the_file.write(str(score[0]) + ', ' + str(score[1]) + '\n')